<div class="wrapper">
	<section id="header">
		<div class="title">
			<span class="font-large">B</span><span>ERKSHIRE </span>
			<span class="font-large">H</span><span>ATHAWAY </span>
			<span class="font-small">INC.</span>
		</div>
		<div class="sub-headers">
			<span class="font-small">3555 Farnam Street</span>
			<span class="font-small">Omaha, NE 68131</span>
			<span class="font-medium">Official Home Page</span>
		</div>
	</section>
	<hr>
	<main>
		<div class="links-container">
			<ng-container *ngFor="let item of links">
				<div>
					<ul>
						<li class="font-medium">
							<a href="">{{ item.title}}</a>
							<div *ngIf="item.subtext" class="font-smallest">{{item.subtext}}</div>
						</li>
					</ul>
				</div>
			</ng-container>
		</div>
	</main>
	<hr>
	<footer>
		<img src="assets/geicoimg.gif">
		<span class="font-smallest">FOR A FREE CAR INSURANCE RATE QUOTE THAT COULD SAVE YOU SUBSTANTIAL MONEY</span>
		<span class="font-smallest"><a href="http://www.geico.com/">WWW.GEICO.COM</a> OR CALL 1-888-395-6349, 24 HOURS A
			DAY</span>
	</footer>
	<hr>
	<footer class="no-centre">
		<span class="font-small">If you have any comments about our WEB page, you can write us at the address shown
			above. However, due to
			the limited number of personnel in our corporate office, we are unable to provide a direct response.</span>
	</footer>
	<hr>
	<footer class="no-centre">
		<span class="font-small"><a href="https://www.berkshirehathaway.com/disclaimer.html">Legal
				Disclaimer</a></span><br>
		<span class="font-small">Copyright © 1978-2024 <b>Berkshire Hathaway Inc.</b></span>
	</footer>
</div>